permissions_boundary_arn                 = "arn:aws:iam::884500545225:policy/Security_Boundary_NoIAM"
prefix  = "am-uds-dev-cumulus"
cumulus_lambda_subnet_ids    = ["subnet-00cacaab15b901d53", "subnet-068f7d5c0a859d710"]
cumulus_lambda_vpc_id        = "vpc-06e627ef021d1854e"
security_group_ids = ["sg-045f9c24c760940b6"]
aws_region = "us-west-2"
cumulus_base = "https://axhmoecy02.execute-api.us-west-2.amazonaws.com/dev"
report_to_ems = "FALSE"
